body{
    margin: 0;
    padding: 0;
    background-image: url(./IMAGES/backk111.jpeg);
    background-size: cover;
}
.h1-5{
    text-align: center;
    margin: 150px;
    color: azure;
}
#pics{
    border-radius: 8px;
    background-color: white;
    border: solid white;
}
#footer-1{
    background-color: rgb(10, 11, 11);
    color: rgb(244, 244, 244);
    text-align: center;
    margin-top: 0;
    padding: 30px
}
.h3-2{
    color: white;

}
li{
    color: white;
}
.h1-2{
    color: white;
}
.h1-3{
    color: rgb(15, 17, 18);
    text-align: center;
    font-size: xx-large;
}